Add support for SMTP TLS reports

Similar to DMARC reports, many mailers also send TLS reports, as defined in [RFC 8460](https://datatracker.ietf.org/doc/html/rfc8460). To enable receiving these reports, you just need to add the following DNS record to your domain:

```zone
_smtp._tls	86400	IN	TXT	"v=TLSRPTv1; rua=mailto:your-email-here@example.com"
```

Testing is fairly easy since as long as you send an email to Google (Gmail + G Suite) at least once a week, they'll send you a TLS report every day. Microsoft also sends these reports too, but only on days when they send you email.

[RFC 8460 §4.4](https://datatracker.ietf.org/doc/html/rfc8460#section-4.4) describes the exact format of these reports, but here's a copy of the most recent report that I received:

```mbox
Return-Path:
 <3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com>
Delivered-To: tls-reports@maxchernoff.ca
Received: from mp0.migadu.com ([2001:41d0:303:e224::])  (using TLSv1.3 with
 cipher TLS_AES_256_GCM_SHA384 (256/256 bits))  by ms21.migadu.com with LMTPS
        id 8H7RHrs8PGi7egAAqHPOHw:P1    (envelope-from
 <3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com>)
        for <tls-reports@maxchernoff.ca>; Sun, 01 Jun 2025 13:42:51 +0200
Received: from aspmx1.migadu.com ([2001:41d0:303:e224::])       (using TLSv1.3
 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits))     by mp0.migadu.com with
 LMTPS  id 8H7RHrs8PGi7egAAqHPOHw       (envelope-from
 <3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com>)
        for <tls-reports@maxchernoff.ca>; Sun, 01 Jun 2025 13:42:51 +0200
X-Envelope-To: tls-reports@maxchernoff.ca
Authentication-Results: aspmx1.migadu.com;      dkim=pass header.d=google.com
 header.s=20230601 header.b=VfMGJBhy;   spf=pass (aspmx1.migadu.com: domain of
 3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com
 designates 2607:f8b0:4864:20::748 as permitted sender)
 smtp.mailfrom=3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com;
        dmarc=pass (policy=reject) header.from=google.com
ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed;
 d=maxchernoff.ca;      s=key1; t=1748778166;
        h=from:from:reply-to:subject:subject:date:date:message-id:message-id:   
 to:to:cc:mime-version:mime-version:content-type:content-type:  
 dkim-signature; bh=agevw/BXT3UNkiGd0RzfnUjAhXZGiCVM/0wo/aDOCXY=;
        b=oHT7JIMoKs2a6qewfqJZ0ZrROUv1B2TeaMcg7LyVrEpkGE0D4SWoV2/raObdbxuu4VwuLe
        FmsR61zaSodi2lmOrWWCBIoF6nt80rBDY2rkVl96xx/o5sZUpQzsKUSpAbAorToOALN8zF
        WtwLR6JfO6U6eSxdyW7RQqt1pF8MZuLbe46ct3PPyQMpPuvgxnvV+kP+wfPR/hLAoCl4YU
        yaedUaO/jhpj8vN8prJNvcoDHbKoAsO0e5Eab3FebmQnTruO9rCmc735TI31pUdW/nBAiM
        qR/svNKb68SS/idb5HjFZjdq+34TNkqbL3XL/W49zZ76ciRF6oF/XtJaupjYpw==
ARC-Authentication-Results: i=1;        aspmx1.migadu.com;      dkim=pass
 header.d=google.com header.s=20230601 header.b=VfMGJBhy;       spf=pass
 (aspmx1.migadu.com: domain of
 3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com
 designates 2607:f8b0:4864:20::748 as permitted sender)
 smtp.mailfrom=3tTw8aBoKAGgTUXKVRe-YSZV-ZRY-XKVUXZOTMMUUMRK.IUS@smtp-tls-reporting.bounces.google.com;
        dmarc=pass (policy=reject) header.from=google.com
ARC-Seal: i=1; s=key1; d=maxchernoff.ca; t=1748778166; a=rsa-sha256;
        cv=none;
        b=V7+zZoQWQ/21tcQlq7Skl6vglpH53xMgqDj4dnN73M3itK5fBcExtwIkQgcS1MYbfpxw7J
        DJFtKKAJjIqk4k5c5R83zpbL6HNyguATjsleXvTtyT/CQZcIL9r11Dg/5gmpRgwCCl0JH8
        XYCbYqzBMxFq4jsW6PFyT9TrwUo+/v3FKe9MoC9eRfObQgi/LtlsIWXDo+DzpPqMd6IfVC
        y5Jwu3m0dUuiruSQD5ijDZIMIBuK3Yvp+1/zL8XcSfpM/861vWmliV4+8h7qlkYmOBHQel
        /b2SEBvLQoqMP0C7i/7X/0nEd16U+uF7HUvfUyiGazAgXuEJDyg5Gzu14epOGA==
Received: from mail-qk1-x748.google.com (mail-qk1-x748.google.com
 [IPv6:2607:f8b0:4864:20::748]) (using TLSv1.3 with cipher
 TLS_AES_256_GCM_SHA384 (256/256 bits)   key-exchange x25519 server-signature
 RSA-PSS (2048 bits) server-digest SHA256)      (No client certificate requested)
        by aspmx1.migadu.com (Postfix) with ESMTPS id 833279A49B        for
 <tls-reports@maxchernoff.ca>; Sun, 01 Jun 2025 13:42:46 +0200 (CEST)
Received: by mail-qk1-x748.google.com with SMTP id
 af79cd13be357-7cd06c31ad6so698839285a.0        for
 <tls-reports@maxchernoff.ca>; Sun, 01 Jun 2025 04:42:46 -0700 (PDT)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;        d=google.com;
 s=20230601; t=1748778165; x=1749382965; darn=maxchernoff.ca;      
 h=to:from:subject:message-id:tls-report-submitter:tls-report-domain       
 :date:mime-version:from:to:cc:subject:date:message-id:reply-to;      
 bh=agevw/BXT3UNkiGd0RzfnUjAhXZGiCVM/0wo/aDOCXY=;      
 b=VfMGJBhytDhw0+5pavT+n0OufDLKOcXZFHnaaOgnqY/CKBgCzNpHyiyIrj+eM02gbu      
  xpwMmGYUDxbQXlXGIvHqYCcJNxmNhA6hGUyPW29Noogs1nIr826gcuyPY4sWAp1CUvJX     
   uVdr8BqtgKvfnOUwuOs5lctZ5HPChiSwgxLAwJKXdFLylo6LX7ufl6Fw9S5eM6RpV76m    
    SNlwd4xk9BduU7w58mfsycvEJlfdVLOrMFOHNf9BNv5MkW3e5OftNLOOD5SYvrfumjY/   
     fprxuWmZpI2QFpS0S3bnm3j41Ch+HRdfekmHyjkQwr/DV4ftvQ6jfeqOtRqj2QvBJIBM  
      8C1g==
X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;      
 d=1e100.net; s=20230601; t=1748778165; x=1749382965;      
 h=to:from:subject:message-id:tls-report-submitter:tls-report-domain       
 :date:mime-version:x-gm-message-state:from:to:cc:subject:date       
 :message-id:reply-to;      
 bh=agevw/BXT3UNkiGd0RzfnUjAhXZGiCVM/0wo/aDOCXY=;      
 b=nIeETje590p1vtvjxnt4FGNKz1kUS/boL+BssylU8lOBRAlQm1KcQRhFoguvU6Q8LU      
  4xw6srOkgp49HIE6BrLtKFBRBIITOvAT3C0qD+ujafBP7nh3zWx7B2oKUca2JY/ooxHk     
   2TiaSCNFM8aodmzbkyDd0nLuVlBfjF1yq6vIbIfXYnUBB0g9vQ+VY1xWr5rZQqAbuvb2    
    gbxCzMWhbXK0/kE61i3vSVujYhm1khJaItRSNY7l+8Z+9qGaWkBmA2bdy3pXNuKvLTrc   
     mamWvgckDZAdzOmDzOiE5zXQ0bmwzjmRT96Vx1rMBtFpYhKXYMn35D1ksyWSVNsgm5pb  
      SDog==
X-Gm-Message-State:
 AOJu0Ywtd4t8V6kTISk34tVjSK3w72sPsbUwV5sUf+8fV/UPvy5fnnJY
        c4KkCEU3GJ8Dhq42Vsi+zdsJO5lQ4IFvKR6xMvgWqaL03zfkewqekYOKzMaM6qS6Ynpd/dFnydl
        3e9XXfhYqbDdfq+e7u9fMT1jOOzSc/9jPL2iOkoyIkMx3ZUxOxsJne+cUZp02JXyIPhwROg==
X-Google-Smtp-Source:
 AGHT+IGISx9zwJgrsv68y65MkU9hxu3z6jNspprzuO79dZ31ujhCDO4XnFs/lX+O3SJmrwwz2DC/QySoSnD+ubuQG9N/2OzeCsO/OxhLwcY=
MIME-Version: 1.0
X-Received: by 2002:a05:622a:1925:b0:494:b247:4ddb with SMTP id
 d75a77b69052e-4a4408d1ccdmr170624471cf.4.1748778165432; Sun, 01 Jun 2025
 04:42:45 -0700 (PDT)
Date: Sun, 01 Jun 2025 04:42:45 -0700
TLS-Report-Domain: maxchernoff.ca
TLS-Report-Submitter: google.com
Message-ID: <683c3cb5.c80a0220.2a8e1.0827tls@google.com>
Subject: Report Domain: maxchernoff.ca Submitter: google.com Report-ID:
 <2025.05.31T00.00.00Z+maxchernoff.ca@google.com>
From: noreply-smtp-tls-reporting@google.com
To: tls-reports@maxchernoff.ca
Content-Type: multipart/report; boundary="00000000000057773d06368125f8"; report-type=tlsrpt
X-Migadu-Flow: FLOW_IN
X-Migadu-Country: US
X-Migadu-Spam-Score: -2.97
X-Spam-Score: -2.97
X-Migadu-Queue-Id: 833279A49B
X-Migadu-Scanner: mx12.migadu.com
X-Evolution-Source: 77770993f3efdfbb1370ee5def509cc60004fdc9

--00000000000057773d06368125f8
Content-Type: text/plain; charset="UTF-8"; format=flowed; delsp=yes

This is an aggregate TLS report from google.com

--00000000000057773d06368125f8
Content-Type: application/tlsrpt+gzip;
        name="google.com!maxchernoff.ca!1748649600!1748735999!001.json.gz"
Content-Disposition: attachment;
        filename="google.com!maxchernoff.ca!1748649600!1748735999!001.json.gz"
Content-Transfer-Encoding: base64

H4sIAAAAAAAAAHWRTWvDMAyG/0rwcdTBTcmgPu1Wdm5PHaUIx3ENsRVspbQr+e9T0m6wjYLA+ngk
vbZvApOD6D+BPEYZIVihxQbRdbZ4j6YUC9EAWZkgOi7dRCZIJKcc+RmuVFVLVcvVcqeUnm3PXTY2
T6hqpes1216MC2EwEhiSPrbIWA7US+qyTLbHRD66NzeLKQ0GnnpPS988WXwMcDEnmyK2bWmAO3rs
vPE2C/1xuwfX6Rp3T9K1n9Rlyt/oVWZKvJd5cbYp87PoYrvbnpdMBGysLixrTcZO8UUXL2XwDprh
oZAFHMExtazU+lUpcfgZ3GAAH3ndP5HhIk+Yadr5a9yBXygPIUCaRRMSdDIPxtic24FdPqd/MzhE
7q4XD6QF3w3J/q2rcTyMX/v+sg/zAQAA
--00000000000057773d06368125f8--
```

and this is the decompressed and reformatted JSON attached to that message:

```json
{
  "organization-name": "Google Inc.",
  "date-range": {
    "start-datetime": "2025-06-01T00:00:00Z",
    "end-datetime": "2025-06-01T23:59:59Z"
  },
  "contact-info": "smtp-tls-reporting@google.com",
  "report-id": "2025-06-01T00:00:00Z_maxchernoff.ca",
  "policies": [
    {
      "policy": {
        "policy-type": "sts",
        "policy-string": [
          "version: STSv1",
          "mode: enforce",
          "mx: *.migadu.com",
          "max_age: 1209600"
        ],
        "policy-domain": "maxchernoff.ca",
        "mx-host": [
          "*.migadu.com"
        ]
      },
      "summary": {
        "total-successful-session-count": 3,
        "total-failure-session-count": 0
      }
    }
  ]
}
```